# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Ambiente
.env
.env.*

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
